.shop-logo{
  height: 40px;
}

.cart-icon{
  height: 30px;
}

.wishlist-icon{
  height: 30px;
}

.wishlist-btn{
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.account-section{
  margin-left: 15px;
}

.cart-btn{
  background-color: transparent;
  border: none;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.section-title-wrapper{
  margin-bottom: 20px;
  margin-top: 2rem;
  margin-left: 3rem;
}

.poster-image{
  width: 90%;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

@media only screen and (min-width:320px) and (max-width:480px){
  .swiper{
    width: 1000px;
    height: 100%;
  }

  .section-title-wrapper{
    margin-left: 2rem;
  }
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-img{
  height: 64px;
  width: 64px;
}


.title-highlighter.highlighter-secondary{
  color: #ff497c;
}

.title-highlighter-product{
  color: #8c71db;
}

.product-card{
  --bs-card-border-width: 0px !important;
}

.service-box.service-style-2{
    display: flex;
    border: none;
    padding: 0;
    text-align: left;
    background-color: rgba(0,0,0,0);
}

.title{
  margin-bottom: 0 !important;
}